<h1>CONTACT</h1>
<ul>
  <li>Email: dinianjelina12@gmail.com</li>
  <li>Instagram: <a href="https://www.instagram.com/dinianjelina_/">Instagram Profile</a></li>
  <li>Linkedin: <a href="https://www.linkedin.com/in/dinianjelina/">Linkedin Profile</a></li>
</ul>
